<html>
<head>
<style>

paragraph{
  text-align: center;
  font style: normal;
  font-family: sans-serif;
  font-size: 65;
  }
h1{
  text-align: center;
  font-style: normal;
  font-family: sans-serif;
  font-size: 80;
}
h2{
  text-align: left;
  font-style: normal;
  font-family: sans-serif;
  font-size: 70;
}
h3{
  text-align: center;
  font-style: normal;
  font-family: sans-serif;
  font-size: 65;
}
a{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 70;
}
a:visited{
    background-color: yellow;
    color: black;
    padding: 25px, 30px;
    text-decoration: none;
    display: inline-block;
  }
  a:hover {
    background-color: black;
    color: white;
  }
