<html>
<head>
<style>
text{

}
div.background{
  color: inherit;
}
paragraph{
  text-align: center;
  font style: normal;
  font-family: sans-serif;
  font-size: 125;
}
h1{
  text-align: center;
  font-style: normal;
  font-family: sans-serif;
  font-size: 80;
}
h2{
  text-align: left;
  font-style: normal;
  font-family: sans-serif;
  font-size: 75;
}
  a:link {
    background-color: yellow;
  }

  a:visited {
    background-color: cyan;
  }

  a:hover {
    background-color: lightgreen;
  }

  a:active {
    background-color: hotpink;
  }
}
img {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
 p{
   text-align: center;
    }
